<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Admin Products</h1>
    <h3>Create Product</h3>
    <form action="/products/create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="productName">Name:</label>
            <input type="text" name="name" id="productName" class="form-control">
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="productSize">Size:</label>
                <select name="size" id="productSize" class="form-control">
                    <option value="xs">XS</option>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="productType">Type:</label>
                <select name="type" id="productType" class="form-control">
                    <option value="PANTS">Pants</option>
                    <option value="SHORTS">Shorts</option>
                    <option value="SNEAKERS">Sneakers</option>
                    <option value="LONGSLEEVE">Longsleeve</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="productCoast">Coast:</label>
                <input type="number" name="coast" id="productCoast" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label for="productImage1">Image 1:</label>
                <input type="file" name="file1" id="productImage1" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label for="productImage2">Image 2:</label>
                <input type="file" name="file2" id="productImage2" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label for="productImage3">Image 3:</label>
                <input type="file" name="file3" id="productImage3" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Product</button>
    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.size}"></td>
            <td th:text="${product.type}"></td>
            <td th:text="${product.coast}"></td>
            <td>
                <div class="btn-group">
                    <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-info">delete</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
