<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container mt-4">
    <h1 class="mb-4">Product Details</h1>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>ID</th>
            <td th:text="${product.id}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <th>Size</th>
            <td th:text="${product.size}"></td>
        </tr>
        <tr>
            <th>Price</th>
            <td th:text="${product.coast}"></td>
        </tr>
        <!--<tr>
            <th>Image</th>
            <td th:img th:src="@{/images/{id}(id=${image1.getId()})}"></td>
        </tr>-->
        </tbody>
    </table>
    <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
        <button type="submit" class="btn btn-success mr-2">Add to Cart</button>
        <a href="/products" class="btn btn-primary">Back to Products</a>
    </form>
</div>
</body>
</html>
